html {
    font-family: sans-serif;
}

.mainTitle {

    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;

}


button {
    border-radius: 10px;
}

input[type=range] {
    height: 26px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    border-radius: 8px;
}


table {
    width: 100%;
}

tr {
    height: 2rem;
}

td {
    padding: 8px;
}

th {
    width: 60%;
}

.td-centered {
    text-align: center;
}


table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}


#tbl-rumori button {
    background-color: rgb(197, 11, 98);
    ;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



#tbl-rumori #titoli {
    background-color: rgb(197, 11, 98);
    color: white;
}

#tbl-rumori input[type=range] {
    background-color: rgb(197, 11, 98);
}




#tbl-canzoni button {
    background-color: rgb(11, 113, 197);
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


#tbl-canzoni #titoli {
    background-color: rgb(11, 113, 197);
    color: white;
}

#tbl-canzoni input[type=range] {
    background-color: rgb(11, 113, 197);
}


#tbl-canzoni .fadebutton , #tbl-rumori .fadebutton{
    padding: 3px 6.5px;
    margin-top:0.3rem

}
#labelVolumeCanzoni , #labelVolumeRumori {
    padding: 3px 6.5px;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr auto; /* Two flexible columns and one for controls */
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.controlli-rumori {
    grid-column: 1;
    grid-row: 1;
}

.controlli-canzoni {
    grid-column: 2;
    grid-row: 1;
}

.controlli-generali {
    grid-column: 3;
    grid-row: 1 / span 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .controlli-suoni,
    .controlli-canzoni,
    .controlli-generali {
        grid-column: auto;
        grid-row: auto;
    }

    .controlli-generali {
        flex-direction: row;
        justify-content: space-around;
    }
}



.controlli-generali > * {
    margin-top: 10px;
    margin-bottom: 10px;
}

.controlli-generali button {
    background-color: rgb(83, 17, 205);
    
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 12rem;
}